#home-button{
    height: fit-content;
    width: fit-content;
    position: fixed;
    bottom: 60px;
    right: 50px;
    padding: 20px;
    border-radius: 50%;
    border: none;
    transform: scaleX(1.06);
    background-color: white;
    box-shadow: 0px 10px 50px -12px gray;
    z-index: 10;
}
.material-icons-round{
    color: dodgerblue;
}
@media (max-width: 620px) {
    #home-button{
        bottom: 30px;
        right: 30px;
        padding: 18px;
    }
}
::-webkit-scrollbar{
    background-color: transparent;
}